.container {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-areas:
    'header'
    'section'
    'aside'
    'footer';
  grid-template-rows: 1fr 10fr 1fr 1fr;
}

@media (min-width: 800px) {
  .container {
    grid-template-areas:
      'header header'
      'aside section'
      'aside footer';
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr 6fr;
  }
}
.container > * {
  background-color: blueviolet;
  font-style: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}
